a.router-link-active,
a.router-link-exact-active,
.router-link {
  text-decoration: none;
  color: #333;
}

.router-link:hover {
  text-decoration: underline;
  color: #000;
}


*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.button{
  padding: 6px 8px;
  border: 1px #2d2388 solid;
  color: #2d2388;
  border-radius: 6px;
  background-color: transparent;
}

.nav-link {
  margin-right: 4px;
  text-decoration: none;
  color: #333;
}
.nav-link:last-child {
  font-weight: 600;
}

a:-webkit-any-link {
    color: #5e5c5c;
    cursor: pointer;
    text-decoration: none;
}